# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* popular languages for Data Science
* Libraries used by Data Scientists
* Arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

##### Some of the commonly used libraries used by Data Scientists include:
1. Kiras
2. Caret
3. Pytorch

| Data Science Tools | 
|--------|
| Jupiter Notebook |  
| Apache Spark | 
| Numpy |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
200//60

3

## Author:
Imane